.title-screen {
  height: 100vh;
  max-height: 1080px;
  display: flex;

  .left-box {
    position: relative;
    perspective: 35vw;
    width: fit-content;

    h1 {
      font-size: 4rem;
      transform: rotateX(0deg) rotateY(-8deg);
      text-align: end;
    }

    .red-box {
      //clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 80%);
      background: $main-dark-color;
      height: 70vh;
      width: 40vw;
      transform: rotateX(0deg) rotateY(-8deg);
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .black-arrow {
      clip-path: polygon(30% 0, 66% 0, 66% 68%, 83% 68%, 49% 100%, 13% 68%, 30% 68%);
      width: 80px;
      height: 150px;
      display: block;
      background: $color-black;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    .title-part {
      display: flex;
      align-items: flex-end;

      h1 {
        &:first-of-type {
          color: $main-light-color;
        }

        &:last-of-type {
          padding-left: 20px;
          font-size: 7rem;
          position: relative;

          &::before {
            content: 'limpse';
            position: absolute;
            transform: rotateX(-20deg) rotateY(-328deg);
            text-transform: uppercase;
            top: -41px;
            left: 64px;
            letter-spacing: 20px;
          }
        }
      }
    }

    .eye {
      position: absolute;
      width: 300px;
      height: 250px;
      max-width: 100%;
      vertical-align: middle;
      display: block;
      z-index: 1;
      pointer-events: none;
      background: url("./../assets/img/eye.png") no-repeat center;
      background-size: cover;
      right: -200px;
      top: 25%;
    }
  }
  .right-box {
    width: 100%;
    display: flex;

    .corner-circle {
      width: 25vw;
      height: 25vw;
      border: 50px solid $color-black;
      border-bottom-left-radius: 100%;
      position: absolute;
      right: -50px;
      top: -50px;
    }

    .corner-square {
      width: 25vw;
      height: 25vw;
      border: 25px solid $main-dark-color;
      border-bottom-left-radius: 100%;
      position: absolute;
      right: 20px;
      top: 20px;
    }
  }
}
