#first-screen {
  .block {

    &__left {
      width: 45%;

      .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-end;

        h2:first-of-type {
          border-right: 2px solid $color-black;
          border-left: 2px solid $color-black;
          padding: 0 15px;
        }

      }
    }

    &__right {
      width: 55%;

      .top {
        border-right: 40px solid $color-black;
      }

      .bottom {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

        h4 {
          width: 100%;
        }
      }
    }
  }
}
